*{
    /* box-sizing: border-box; */
    height:55%;
    margin: 0;
    color
}
body{
    font-family: sans-serif;
    background-color: 
}
.custom-logo{
    width: 15%;
}
.custom-highlight{
    color: #ff8367;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.navbar-brand{
    padding-top: 3125rem;
    padding-bottom: 3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}